/*
    Author: Tony Yuan and Omar Siyad
    File Created Date: Sat Feb 13 2026
*/
html{
    overflow: hidden;

    height:100%;

    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 20px
    );
}

#container{
    
    height: 98vh;
    font-family: 'Courier New', Courier, monospace;

    border: 2px black solid;
}

#header{
    height: 5%;
}

h1{
    text-align: center;
}

#content {
    height: 93%;
    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

#clicker_area{
    width:40%;
    height: 100%;
    text-align: center;

    border: 2px black solid;

    background-color: lightblue;
}

#clicker img{
    max-width:100%;
}

#upgrades_area{
    width:40%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 2px black solid;

    background-color: white;
}

.upgrades_section{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrades:hover{
    background-color: gray;
}

.upgrades{
    width:80%;

    margin: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: lightgray;
}
.upgrades h2{
    margin: 0;
}

.upgrades h3{
    margin: 0;
}


#rewards_area{
    max-width:33%;
    height: 100%;

    padding-left: 10px;
    padding-right: 10px;

    border: 2px black solid;

     background-color: lightcoral;
}

#rewards_area{
    width:20%;
}

