/*
    Author: Tony Yuan and Omar Siyad
    File Created Date: Sat Feb 13 2026
    CSS file that controls all stylistic attributes of elements from the HTML file
*/
html{
    overflow: hidden;

    height:100%;

    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 20px
    );
}

#container{
    
    height: 98vh;
    font-family: 'Courier New', Courier, monospace;

    overflow-y: auto;
}

#header{
    height: 5%;

    display: flex;
    align-items: center;     
    justify-content: center;  
    position: relative;

    background-color: white;
}

#header h1{
    display: inline;
}

h1{
    text-align: center;
}

#help_header{
    right:10px;
    position:absolute;
}

#help_section {
    background-color: #ffffff;
    border: 2px solid #000;
    padding: 15px;
    position: absolute;
    top: 60px;
    left: 20px;
    width: 250px;
    z-index: 10; 
    display: none;
}

#openBtn {
    width: "50";
    background:transparent; 
    cursor:pointer;
    display:inline-block;
}

#closeHelp {
    float: right;
    cursor: pointer;
    background-color: #ffcccc;
}

#clicker {
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#clicker:active {
    transform: scale(0.9);
}

#content {
    height: 93%;
    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

#clicker_area{
    width:40%;
    height: 100%;
    text-align: center;

    border: 2px black solid;

    background-color: lightblue;
}

#upgrade1Icon{
    visibility: hidden;
}

#upgrade2Icon{
    visibility: hidden;
}
#upgrade3Icon{
    visibility: hidden;
}
#upgrade4Icon{
    visibility: hidden;
}

#upgrades_area{
    width:40%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 2px black solid;

    background-color: white;
}

.upgrades_section{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrades:hover{
    background-color: gray;
}

.upgrades{
    width:80%;

    margin: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: lightgray;
}
.upgrades h2{
    margin: 0;
}

.upgrades h3{
    margin: 0;
}


#rewards_area{
    max-width:33%;
    height: 100%;

    padding-left: 10px;
    padding-right: 10px;

    border: 2px black solid;

     background-color: lightcoral;
}

#rewards_area{
    width:20%;
}


#reward_icons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#reward_icons p{
    font-size:50px;
}

#reward1Icon{
    visibility: hidden;
}

#reward2Icon{
    visibility: hidden;
}

#reward3Icon{
    visibility: hidden;
}

#reward4Icon{
    visibility: hidden;
}

#reward5Icon{
    visibility: hidden;
}

.congrats{
    display: none;
}

#reward1{
    display: none;
    background-color: lightyellow;
}

#reward2{
    display: none;
    background-color: lightyellow;
}

#reward3{
    display: none;
    background-color: lightyellow;
}

#reward4{
    display: none;
    background-color: lightyellow;
}

#reward5{
    display: none;
    background-color: lightyellow;
}


