/*
    Author: Tony Yuan and Omar Siyad
    File Created Date: Sat Feb 13 2026
*/

#container{
    font-family: 'Courier New', Courier, monospace
}

h1{
    text-align: center;
}

#content {
    height:100%;

    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

#clicker_area{
    width:40%;
    text-align: center;
}

#clicker img{
    width:100%;
}

#upgrades_area{
    background-color: lightblue;
    width:40%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.upgrades_section{
    align-items: center;
    text-align: center;
}

.upgrades:hover{
    background-color: gray;
}

.upgrades{
    width:80%;
    margin: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: lightgray;
}
.upgrades h2{
    margin: 0;
}

.upgrades h3{
    margin: 0;
}


#rewards_area{
    background-color: lightcoral;
    max-width:33%;
    padding: 10px;
    margin: 10px;
}

#rewards_area{
    width:20%;
}

